.main-div{
  display: flex;
  background-color: rgb(6, 6, 70);
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.container{
  background-color: rgb(215, 224, 224);
  border-radius: 10px;
  margin: 20px;
}
.na{
 text-align: center;
 font-family:fantasy;
 font-size: large;
 background-color: rgb(76, 95, 112);
}
.na1{
  color: rgb(228, 144, 34);
}
.na2{
  color: rgb(33, 201, 33);
}
.na3{
  color: rgb(205, 224, 26);
}
.inDiv{
  display: inline;
  
}



.dataItem{
  margin-left: 30px;
  background-color: rgb(208, 224, 219);
  border-radius: 9px;
  font-size: large;
  padding: 8px;
  padding-right: 30px;
}
.add-btn :hover{
color: forestgreen;

}
.add-btn{
padding: 8px;
padding-left: 10px;
padding-right: 10px;
margin-left: 15px;
border-radius: 30px;
font-size: larger;
color: aliceblue;
background-color: rgb(34, 158, 23);
}
.showItems{
margin-top: 20px;

}
.text1{
display: inline;

}
.text1 :hover{
cursor: pointer;
background-color: rgb(150, 146, 141);
}
.del-btn{

  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15px;
  border-radius: 30px;
  font-size: larger;
  color: rgb(241, 234, 236);
background-color: rgb(245, 134, 7);
}
.del-btn :hover{
background-color: rgb(228, 51, 51);
}
.showItems {
 
  text-align: center;
}

.eachItem {
  
  display: flex;
 justify-content:space-between;
  align-items: center;
}

.eachItem:hover {
  background: rgb(123, 123, 128);
  color: rgb(143, 140, 150);
}

.showItems .eachItem h3 {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: rgb(17, 16, 16);
}
.btns :hover{
  background-color: rgb(112, 107, 100);
}
.btns{
  margin-right: 10px;
}